<section class="angular-cli">

    <h1>Angular command-line interface (CLI)</h1>

    <article>
        <h2>Criando e Rodando o Projeto</h2>

        <h4>Opção 1:</h4>
        <p>ng new NomeProjeto</p>
        <p>cd NomeProjeto</p>
        <p>ng serve</p>

        <h4>Opção 2:</h4>
        <p>mkdir NomeProjeto</p>
        <p>cd NomeProjeto</p>
        <p>ng init</p>
        <p>ng serve</p>
    </article>

    <article>
        <h2>Criando um Componente ou Serviço</h2>

        <p>ng g c NomeComponente</p>
        <p>ng g component NomeComponente</p>
        
        <p>ng g s NomeServiço</p>
        <p>ng g service NomeServiço</p>
    </article>

    <article>
        <h2>Scanner do código e Testes unitários </h2>

        <p>ng lint</p>
        <p>Scanner no código e procura por pequenos erros</p>
        
        <p>ng test</p>
        <p>Rodar o testes unitários do Jasmine</p>
    </article>
</section>
