<section class="property-binding">

    <!--
    <article>
        <h3>Interpolation</h3>

        <p>String renderizada com interpolação: {{ url }}</p>
        <p>Resultado de 2 = 1: {{ 2 + 1 }}</p>
        <p>Resultado de 2 + 1 não é {{ 2 + 1 + getValor() }}</p>
        <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
    </article>
    -->

    <!--
    <article>
        <h3>Property Binding</h3>

        <p>usando Interpolação</p>
        <img src="{{ urlImagem }}">

        <p>usando Property binding</p>
        <img [src]="urlImagem">

        <p>Por traz dos panos o Angular faz desta forma</p>
        <img bind-src="urlImagem">
    </article>
    -->

    <!--
    <article>
        <h3>Class Binding</h3>

        <div>
            Selecione uma classe:
            <select #classe (change)="0">
                <option value="alert-success">Sucesso</option>
                <option value="alert-info">Info</option>
                <option value="alert-warning">Aviso</option>
                <option value="alert-danger">Perigo</option>
            </select>
            <br><br>

            <p>Interpolation usando em classe</p>
            <div class="alert {{ classe.value }}" role="alert">
                Texto colorido conforme o combobox.
            </div>

            <p>Property binding usando classe</p>
            <div class="alert" role="alert"
                [class.alert-success]="classe.value === 'alert-success'">
                Sucesso
            </div>
            <div class="alert" role="alert"
                [class.alert-info]="classe.value === 'alert-info'">
                Info
            </div>
            <div class="alert" role="alert"
                [class.alert-warning]="classe.value === 'alert-warning'">
                Aviso
            </div>
            <div class="alert" role="alert"
                [class.alert-danger]="classe.value === 'alert-danger'">
                Erro
            </div>

            <h2>Style Binding</h2>
            <p>Property binding com estilo de classe</p>
            <div class="alert alert-danger" role="alert"
                [style.display]="classe.value === 'alert-danger' ? 'block' : 'none' ">
                Esse texto só aparece em caso de erro.
            </div>
        </div>
    </article>
    -->

</section>

<section class="event-binding">
    <article>
        <h3>Event Binding</h3>

        <div>
            <button 
                (click)="botaoClicado()"
                class="btn btn-primary">
                Me clique
            </button>

            <br><br>

            <input
                type="text"
                (keyup)="onKeyUp($event)"
                (keydown)="salvarValor(campoInput.value)"
                (blur)="salvarValor(campoInput.value)"
                #campoInput
            />

            <p>Valor atual: {{ valorAtual }}</p>
            <p>Valor salvo: {{ valorSalvo }}</p>

            <br>

            <span
                (mouseover)="onMouseOverOut()"
                (mouseout)="onMouseOverOut()"
                [class.highlight]="isMouseOver"
            >
                Passe o mouse sobre mim
            </span>

        </div>
    </article>
</section>
